@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&display=swap");


.parrafos {
   font-family: "Julius Sans One", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
 .titulosYSubtitulos {
   font-family: "Italiana", sans-serif;
   font-weight: 400;
   font-style: normal;
 }